@import './pieces.css';
@import './positions.css';

h1 {
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial
}

#game-area {
  display: flex;
  justify-content: center;
}

.board {
  background-image: url('../chessboard.png');
  background-size: contain;
  height: min(80vh, 80vw);
  width: min(80vh, 80vw);
  border: 5px solid rgb(12, 7, 1);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.piece {
  height: 12.5%;
  width: 12.5%;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  translate: calc(var(--file) * 100%) calc(var(--rank) * 100%);
}
