.piece.wp {
  background-image: url('../svg/wp.svg');
}

.piece.wn {
  background-image: url('../svg/wn.svg');
}

.piece.wb {
  background-image: url('../svg/wb.svg');
}

.piece.wr {
  background-image: url('../svg/wr.svg');
}

.piece.wq {
  background-image: url('../svg/wq.svg');
}

.piece.wk {
  background-image: url('../svg/wk.svg');
}

.piece.bp {
  background-image: url('../svg/bp.svg');
}

.piece.bn {
  background-image: url('../svg/bn.svg');
}

.piece.bb {
  background-image: url('../svg/bb.svg');
}

.piece.br {
  background-image: url('../svg/br.svg');
}

.piece.bq {
  background-image: url('../svg/bq.svg');
}

.piece.bk {
  background-image: url('../svg/bk.svg');
}