.r0 {
  --rank: 0
}

.r1 {
  --rank: 1
}

.r2 {
  --rank: 2
}

.r3 {
  --rank: 3
}

.r4 {
  --rank: 4
}

.r5 {
  --rank: 5
}

.r6 {
  --rank: 6
}

.r7 {
  --rank: 7
}

.f0 {
  --file: 0
}

.f1 {
  --file: 1
}

.f2 {
  --file: 2
}

.f3 {
  --file: 3
}

.f4 {
  --file: 4
}

.f5 {
  --file: 5
}

.f6 {
  --file: 6
}

.f7 {
  --file: 7
}