.board .r0 {
  --rank: 0
}

.board .r1 {
  --rank: 1
}

.board .r2 {
  --rank: 2
}

.board .r3 {
  --rank: 3
}

.board .r4 {
  --rank: 4
}

.board .r5 {
  --rank: 5
}

.board .r6 {
  --rank: 6
}

.board .r7 {
  --rank: 7
}

.board .f0 {
  --file: 0
}

.board .f1 {
  --file: 1
}

.board .f2 {
  --file: 2
}

.board .f3 {
  --file: 3
}

.board .f4 {
  --file: 4
}

.board .f5 {
  --file: 5
}

.board .f6 {
  --file: 6
}

.board .f7 {
  --file: 7
}