/* NORMAL RANKS */
.board > .r1 {
  --yShift: 7
}

.board > .r2 {
  --yShift: 6
}

.board > .r3 {
  --yShift: 5
}

.board > .r4 {
  --yShift: 4
}

.board > .r5 {
  --yShift: 3
}

.board > .r6 {
  --yShift: 2
}

.board > .r7 {
  --yShift: 1
}

.board > .r8 {
  --yShift: 0
}

/* NORMAL FILES */
.board > .f1 {
  --xShift: 0
}

.board > .f2 {
  --xShift: 1
}

.board > .f3 {
  --xShift: 2
}

.board > .f4 {
  --xShift: 3
}

.board > .f5 {
  --xShift: 4
}

.board > .f6 {
  --xShift: 5
}

.board > .f7 {
  --xShift: 6
}

.board > .f8 {
  --xShift: 7
}

/* Flipped Ranks */
.board.flipped > .r1 {
  --yShift: 0
}

.board.flipped > .r2 {
  --yShift: 1
}

.board.flipped > .r3 {
  --yShift: 2
}

.board.flipped > .r4 {
  --yShift: 3
}

.board.flipped > .r5 {
  --yShift: 4
}

.board.flipped > .r6 {
  --yShift: 5
}

.board.flipped > .r7 {
  --yShift: 6
}

.board.flipped > .r8 {
  --yShift: 7
}

/* FLIPPED FILES */
.board.flipped > .f1 {
  --xShift: 7
}

.board.flipped > .f2 {
  --xShift: 6
}

.board.flipped > .f3 {
  --xShift: 5
}

.board.flipped > .f4 {
  --xShift: 4
}

.board.flipped > .f5 {
  --xShift: 3
}

.board.flipped > .f6 {
  --xShift: 2
}

.board.flipped > .f7 {
  --xShift: 1
}

.board.flipped > .f8 {
  --xShift: 0
}
